/*--------------------------------------tipografias--------------------------------------*/
@charset "utf-8";

@CHARSET "ISO-8859-1";

body { 
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:  GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 20px;
	width: 100%;
	padding: 0px;
	background-position: center;
}

.menu {
	float: left;
	width: 45%;
	background-color: #071647;
	height: 35px;
	border-bottom: 0px;
	padding-left: 15px;
	border-left: thin solid White;
}

.FondoMenu {
	width: 100%;
	background-color: #071647;
	height: 36px;
	border-bottom: thin solid #FFffff;
}

.idioma {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	text-align: right;
}

#recuadroTexto {
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #444444;
	width: 100%;
	margin: 0px;
	z-index: 20;
}

.titular {
	float: left;
	width: 100%;
}

.titularBullet {
	float: left;
	width: 10%;
}

.titularTitulo {
	float: left;
	width: 85%;
	text-align: left;
}

.mobileTexto {
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #444444;
	margin: 0px 10px 0px 40px;
}

a:link {
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	color: #444444;
	TEXT-DECORATION: none;
	border: 0px;
}

a:visited {
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	color: #444444;
	TEXT-DECORATION: none;
	border: 0px;
}

a:active {
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	color: #444444;
	TEXT-DECORATION: none;
	border: 0px;
}

a:hover {
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	color: #dc261d;
	TEXT-DECORATION: none;
	border: 0px;
}

.fullScreen {
	text-align: center;
	font-size: 11px;
}

div.idioma {
	display: block;
}

.contenedor {
	width: 100%;
}

.contenidoTop {
	padding-left: 0px;
}

.contenidoTop img {
	height:auto;
}

.contenidoMenu {
	width: 100%;
	margin-left: 0px;
	height: 250px;
	margin: 0 auto;
}

.contenidoMenu div {
	width: 100%;
	border-bottom: 0.25px solid #6b6b6b;
	text-align: center;
	margin-left: 0px;
}

.contenidoMenu div img {
	margin: 0 auto;
}


.main-content .titulo-lateral-texto,
.main-content .linea-vertical {
	display:none;
}

.main-content .texto-principal {
	font-size: 12px;
    margin: 0 auto;
    padding-top: 15px;
    width: 90%;
    overflow-y: auto; 
}

.contenedor-footer {
	display: none;
}

.contenidoPie {
	display: none;
}

.main-content {
	margin-left: 0px;
	width: 100%;
}

.main-content .texto-principal table {
	width: 100%;
	min-height: inherit;
}

.main-content .texto-principal iframe {
	margin-bottom: 30px;
    width: 90%;
	height: auto;
}

.main-content .texto-principal-bullet img {
	padding-top: 75px;
}

.separacion{
	background-image: url(../images/separacion.png);
	background-repeat: repeat-x;
}

.subtitulo-interior {
	height: 25px;
}

#lateralDerecha {
	display: none;
}

#header-logo-menu {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	margin: 0px;
	float: none;
}

.contenidoTop {
	padding-top: 0px;
	text-align: center;
}
	
.centrado {
	width: 100%;
}

.main-banner {
	margin: 0px;
	padding: 0px;
	background-image: url("../images/bg.jpg");
	color: white;
    font-size: 18px;
    line-height: 0px;
}

.main-banner img {
	margin-left: 3%;
}

#imagenPrincipal {
	width: 100%;
	height: auto;
	margin: 0px;
}

#scroll {
	width: 100%;
}

#ainoko .pp_details {
	font-size: 11px;
	line-height: 14px;
}

#footerMobile {
	background: #fff;
	width: 100%;
	height: 350px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: -1;
}

.home {
    margin: 0 auto;
    padding-left: 0;
    padding-top: 20%;
    text-align: center;
    width: 80%;
}

@media screen and (orientation:portrait) {
  	
	#scroll div {
		width: 120px;
	}
	
	#scroll div img {
		width: 120px;
		height: auto;
	}
	
	#scroll div img.bullet {
		width: 12px;
		height: 12px;
	}
}
