/*--------------------------------------tipografias--------------------------------------*/
 @charset "utf-8";

@CHARSET "ISO-8859-1";

/*font especial*/
@font-face {
	font-family: 'GothamRnd-Bold'; /*nombre*/
	src: url('../fonts/GothamRnd-Bold.eot');
	src: url('../fonts/GothamRnd-Bold.eot?#iefix')
		format('embedded-opentype'), /*para qeu funcione el ie*/ 
          url('../fonts/GothamRnd-Bold.woff') format('woff'),
		url('../fonts/GothamRnd-Bold.ttf') format('truetype'),
		url('../fonts/GothamRnd-Bold.svg#GothamRnd-Bold') format('svg');
	src: url('../fonts/GothamRnd-Bold.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamRnd-BoldItal';
	src: url('../fonts/GothamRnd-BoldItal.eot');
	src: url('../fonts/GothamRnd-BoldItal.eot?#iefix')
		format('embedded-opentype'), url('../fonts/GothamRnd-BoldItal.woff')
		format('woff'), url('../fonts/GothamRnd-BoldItal.ttf')
		format('truetype'),
		url('../fonts/GothamRnd-BoldItal.svg#GothamRnd-BoldItal')
		format('svg');
	src: url('../fonts/GothamRnd-BoldItal.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamRnd-Book';
	src: url('../fonts/GothamRnd-Book.eot');
	src: url('../fonts/GothamRnd-Book.eot?#iefix')
		format('embedded-opentype'), url('../fonts/GothamRnd-Book.woff')
		format('woff'), url('../fonts/GothamRnd-Book.ttf') format('truetype'),
		url('../fonts/GothamRnd-Book.svg#GothamRnd-Book') format('svg');
	src: url('../fonts/GothamRnd-Book.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamRnd-BookItal';
	src: url('../fonts/GothamRnd-BookItal.eot');
	src: url('../fonts/GothamRnd-BookItal.eot?#iefix')
		format('embedded-opentype'), url('../fonts/GothamRnd-BookItal.woff')
		format('woff'), url('../fonts/GothamRnd-BookItal.ttf')
		format('truetype'),
		url('../fonts/GothamRnd-BookItal.svg#GothamRnd-BookItal')
		format('svg');
	src: url('../fonts/GothamRnd-BookItal.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamRnd-Light';
	src: url('../fonts/GothamRnd-Light.eot');
	src: url('../fonts/GothamRnd-Light.eot?#iefix')
		format('embedded-opentype'), url('../fonts/GothamRnd-Light.woff')
		format('woff'), url('../fonts/GothamRnd-Light.ttf') format('truetype'),
		url('../fonts/GothamRnd-Light.svg#GothamRnd-Light') format('svg');
	src: url('../fonts/GothamRnd-Light.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamRnd-LightItal';
	src: url('../fonts/GothamRnd-LightItal.eot');
	src: url('../fonts/GothamRnd-LightItal.eot?#iefix')
		format('embedded-opentype'), url('../fonts/GothamRnd-LightItal.woff')
		format('woff'), url('../fonts/GothamRnd-LightItal.ttf')
		format('truetype'),
		url('../fonts/GothamRnd-LightItal.svg#GothamRnd-LightItal')
		format('svg');
	src: url('../fonts/GothamRnd-LightItal.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamRnd-Medium';
	src: url('../fonts/GothamRnd-Medium.eot');
	src: url('../fonts/GothamRnd-Medium.eot?#iefix')
		format('embedded-opentype'), url('../fonts/GothamRnd-Medium.woff')
		format('woff'), url('../fonts/GothamRnd-Medium.ttf')
		format('truetype'),
		url('../fonts/GothamRnd-Medium.svg#GothamRnd-Medium') format('svg');
	src: url('../fonts/GothamRnd-Medium.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamRnd-MedItal';
	src: url('../fonts/GothamRnd-MedItal.eot');
	src: url('../fonts/GothamRnd-MedItal.eot?#iefix')
		format('embedded-opentype'), url('../fonts/GothamRnd-MedItal.woff')
		format('woff'), url('../fonts/GothamRnd-MedItal.ttf')
		format('truetype'),
		url('../fonts/GothamRnd-MedItal.svg#GothamRnd-MedItal') format('svg');
	src: url('../fonts/GothamRnd-MedItal.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

/*--------------------------------------general--------------------------------------*/
body {
	background-image: url(../images/bg.jpg);
	padding-left: 16%;
	position: relative;
	font-family: GothamRnd-Light, helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 17px;
	margin-bottom: 0;
	margin-top: 0;
	_overflow: hidden;
	height: 100%;
	min-height: 100%;
}

a:link {
	font-family: GothamRnd-Light, helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #444444;
	TEXT-DECORATION: none;
}

a:visited {
	font-family: GothamRnd-Light, helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #444444;
	TEXT-DECORATION: none;
}

a:active {
	font-family: GothamRnd-Light, helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #444444;
	TEXT-DECORATION: none;
}

a:hover {
	font-family: GothamRnd-Light, helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #dc261d;
	TEXT-DECORATION: none;
}

#recuadroTexto {
	font-family: GothamRnd-Light, helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #444444;
	background-color: #FFF;
	width: 597px;
	    margin-left: 60px;
}

#recuadroTexto table {
	font-family: GothamRnd-Light, helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #444444;
}

.contenedor {
	font-family: GothamRnd-Light, helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #444444;
	float: left;
	/*padding-left: 100px;*/
}

.contenidoMenu {
	color: white;
	padding-top: 60px;
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	_width: 160px;
}

.contenidoMenu div {
	border-bottom: 1px solid #6b6b6b;
	padding-top: 10px;
	text-align: center;
	padding-bottom: 10px;
	_border-bottom: 1px solid #6b6b6b;
}

.contenidoMenu div.flag {
	border: 0 solid white;
	padding-top: 60px;
}

.contenidoMenu div.flag a {
	padding: 3px;
}

.contenidoTop {
	padding-top: 120%;
	_padding-top: 20%;
}

div.idioma {
	display: none;
}

.main-content {
	margin-left: 10px;
	width: 100%;
	min-height: 270px;
	margin-top: 20px;
}

.titulo {
	position: absolute;
	top: -500px;
	left: 10px;
	width: 73%;
	background-color: #071647;
	height: 35px;
	z-index: 50;
}

.cerrar {
	position: absolute;
	top: -500px;
	right: 0px;
	width: 100%;
	height: 35px;
	text-align: right;
}

.cerrar a,
.cerrar a:link,
.cerrar a:visited,
.cerrar a:active {
	color: #FFFFFF;
	float: right;
	font-size: 20px;
	margin-right: 20px;
	margin-top: 15px;
	text-decoration: none;
}

.cerrar a:hover {
	color: #dc261d;
}

.main-content .titulo-lateral-texto {
	float: left;
	width: 245px;
	height: 270px;
}

.main-content .linea-vertical {
	float: left;
	width: 15px;
	min-height: 270px;
}

.main-content .texto-principal {
	width: 580px;
	min-height: 270px;
}

.main-content .texto-principal-bullet img {
	padding-top: 75px;
}

.main-banner {
	font-size: 30px;
	font-style: italic;
	margin-left: 10px;
	padding-top: 25%;
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
}

.main-banner img {
	margin-top: 3%;
}

.textoInicial {
	padding-top: 81px;
	text-align: justify;
	font-family: helvetica, verdana, arial, sans-serif;
}

.separacion {
	background-image: url(../images/separacion.png);
	background-repeat: repeat-x;
}

.subtitulo-interior {
	width: 100%;
}

.subtitulo-interior img {
	float: left;
}

#scroll div {
	float: left;
	padding-bottom: 20px;
	padding-right: 7px;
	width: 133px;
}

#scroll div.jspVerticalBar {
	width: 10px;
}

#ainoko .jspPane {
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;  
}

#ainoko .jspHorizontalBar {
	display: none;
}

#ainoko .jspDrag {
	background-color: #f90332;
}

#ainoko .jspTrack {
	background-color: #cccccc;
}

#ainoko .jspVerticalBar {
	background-color: #cccccc;
}

#scroll div img {
	_border: none;
}

/*--------------------------------------home--------------------------------------*/
.home {
	padding-left: 35%;
	padding-top: 20%;
	width: 250px;
	_padding-left: 190%;
	_padding-top: 100%;
}

.flagHome {
	padding-top: 10px;
	text-align: center;
	_padding-top: 10px;
	_width: 250px;
	_padding-left: 40%;
}

.flagHome img {
	_float: left;
	_text-align: right;
}


.centrado {
	width:80%;
	margin: 0 auto;
}